<!DOCTYPE html>
<html lang="en" ng-app="agendaApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agenda de teléfonos</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->

    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">-->

    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>-->

    <!--Los ficheros en local-->
    <script src="../js/html5shiv.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <!--Fin de los ficheros en local-->


    <!-- Mis scripts-->
    <!--<script src="../js/controllers.js"></script>-->
    <script src="../js/service.js"></script>

</head>
<body ng-controller="ContactosCtrl as contactosCtrl">
<div class="container" >
    <h1>Mi magnífica agenda de contactos</h1>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Agenda de contactos</div>
        <div class="panel-body">
            <p>Este es un listado de personas</p>
        </div>
        <div class="form">
            <div class="input-group">
            <input type="text" ng-model="nombre" placeholder="Nombre">
            <input type="text" ng-model="apellidos" placeholder="Apellidos">
            <input type="text" ng-model="nif" placeholder="NIF">
            <button type="submit" ng-click="contactosCtrl.create(nombre, apellidos, nif)" class="btn btn-success">Nuevo</button>
            </div>
        </div>
        <!-- Table -->
        <table class="table">
            <tr><th>Nombre</th><th>Apellidos</th><th>NIF</th><th></th></tr>
            <tr ng-repeat="contact in contacts">
                <td>{{contact.nombre}}</td>
                <td>{{contact.apellidos}}</td>
                <td>{{contact.nif}}</td>
                <td><button type="submit" id="update:{{contact.nif}}" class="btn btn-info" data-toggle="modal" data-target="#actualizar"
                        ng-click="contactosCtrl.retreiveContact(contact.nif)">Actualizar</button></td>
                <td><button type="button" id="delete:{{contact.nif}}" class="btn btn-danger" ng-click="contactosCtrl.delete(contact.nif)">Borrar</button> </td>
            </tr>
        </table>
    </div>


    <!-- Ventana modal actualizar -->
    <div class="modal fade" id="actualizar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{currentContact.persona.nif}}</h4>
                </div>
                <div class="modal-body">
                    <input type="text" ng-model="currentContact.persona.nombre">
                    <input type="text" ng-model="currentContact.persona.apellidos">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info"
                            ng-click="contactosCtrl.update(currentContact)"
                            data-dismiss="modal">Actualizar</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>